doctype html
html
  head
    meta(charset='utf-8' name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Administration du site | Gestion tâche
    link(rel="stylesheet" type="text/css" href="/stylesheets/base.css" )
    link(rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css")


  body(class="dashboard" data-admin-utc-offset="3600")
    #container
      #header
        #branding
          h1#site-name
            a(href='/admin') Calendar Administration
        #user-tools
          | Bienvenue,
          strong admin
          a(href='/') Voir le site
          a(href='/signup') Modifier le mot de passe
          a(href='/logout') Déconnexion
      #content.colMS
        h1 Administration du site
        #content-main
          div.app-polls.module
            table
              caption
                a(href='/admin') Gestion Calendar
              tbody
                tr
                  th(scope='row')
                    a(href='/admin/users') Users
                  td
                    a.addlink(href='/admin/users/add') Ajouter
                  td
                    a.changelink(href='/admin/users') Modifier
                tr
                    th(scope='row')
                        a(href='#') Events
                    td
                        a.addlink(href='#') Ajouter
                    td
                        a.changelink(href='Events') Modifier
                tr
                    th(scope='row')
                        a(href='#') External Url Events
                    td
                        a.addlink(href='#') Ajouter
                    td
                        a.changelink(href='#') Modifier
                tr
                  th(scope='row')
                    a(href='#') Group
                  td
                    a.addlink(href='#') Ajouter
                  td
                    a.changelink(href='#') Modifier
        br.clear