doctype html
html
    headn
        meta(charset='utf-8' name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Administration du site | Gestion tâche
        link(rel="stylesheet" type="text/css" href="/stylesheets/base.css" )
        link(rel="stylesheet" type="text/css" href="/stylesheets/changelists.css")


    body(class="change-list" data-admin-utc-offset="3600")
        #container
            #header
                #branding
                    h1#site-name
                        a(href='/admin') Calendar Administration
                #user-tools
                    | Bienvenue,
                    strong admin
                    a(href='/') Voir le site
                    a(href='/signup') Modifier le mot de passe
                    a(href='/logout') Déconnexion
            div.breadcrumbs
                a(href='/admin')  Accueil
            #content.flex
                h1 Sélectionnez l'utilisateur
                #content-main
                    ul.object-tools
                        li
                            a.addlink(href='/admin/users/add') Ajouter un utilisateur
                    div#changelist.module.filtered
                        #toolbar
                            form#changelist-search(method='post' action='/admin/users')
                                label(for='searchbar')
                                    img(src='/images/search.svg' alt='Search')
                                input#searchbar(type="text" size="40" name='search' value= search autofocus='')
                                input(type='submit' value='Search')
                        #changelist-filter
                            h2 Filtre
                            h3 Par Date de création
                            ul
                                li.selected
                                    a(href='#' title='Toutes les dates') Toutes les dates
                                li
                                    a(href='#' title="Aujourd'hui") Aujourd'hui
                                li
                                    a(href='#' title='Les 7 derniers jours') Les 7 derniers jours
                                li
                                    a(href='#' title='Ce mois-ci') Ce mois-ci
                                li
                                    a(href='#' title='Cette année') Cette année
                        form#changelist-form(method="post" action='/admin/users/delete')
                            div.actions
                                label Action
                                    select(name='type' required="")
                                        option(value="" selected="") ---------
                                        option(value="delete_selected") Supprimer le(s) utilisateur(s) sélectionné(s)
                                input.select-across(type="hidden" name="select_across" value="0")
                                button.button(type="submit" title="Exécuter l'action sélectionnée" name="index" value="0") Envoyer
                            div.results
                                table.result_list
                                    thead
                                        tr
                                            th.action-checkbox-column(scope="col")
                                                div.text
                                                    span
                                                        input#action-toggle(type="checkbox")
                                                div.clear
                                            th.sortable.column-label(scope="col")
                                                div.text
                                                    a(href='?o=1') Nom et Prénom
                                                div.clear
                                            th.sortable.column-label(scope="col")
                                                div.text
                                                    a(href='?o=2') Email
                                                div.clear
                                            th.sortable.column-label(scope="col")
                                                div.text
                                                    a(href='?o=3') Status
                                                div.clear
                                    tbody
                                        each val,index in users
                                            tr(class='row' + index)
                                                td.action-checkbox
                                                    input.action-select(type="checkbox" name='checkeditem' value=  val.id)
                                                th.field-label
                                                    a(href='/admin/users/update?id='+val.id)= val.firstName + " " + val.lastName
                                                td.field-pub_date.nowrap= val.email
                                                td.field-pub_date.nowrap= val.status

                br.clear
        script(type="text/javascript" src="/javascripts/core.js")
        script(type="text/javascript" src="/javascripts/jquery.js")
        script(type="text/javascript" src="/javascripts/jquery.init.js")
        script(type="text/javascript" src="/javascripts/RelatedObjectLookups.js")
        script(type="text/javascript" src="/javascripts/actions.js")
        script(type="text/javascript" src="/javascripts/urlify.js")
        script(type="text/javascript" src="/javascripts/prepopulate.js")
        script(type="text/javascript" src="/javascripts/xregexp.js")