doctype html
html
    head
        meta(charset='utf-8' name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Administration du site | Gestion tâche
        link(rel="stylesheet" type="text/css" href="/stylesheets/base.css" )
    body(class="delete-confirmation" data-admin-utc-offset="3600")
        #container
            #header
                #branding
                    h1#site-name
                        a(href='/admin') Calendar Administration
                #user-tools
                    | Bienvenue,
                    strong admin
                    a(href='/') Voir le site
                    a(href='/signup') Modifier le mot de passe
                    a(href='/logout') Déconnexion
            div.breadcrumbs
                a(href='/admin')  Accueil
                | &rsaquo;
                a(href="/admin/users") Utilisateur
                | &rsaquo; Administration
            #content.colM
                h1 Êtes-vous sûr ?
                p Voulez-vous vraiment supprimer ce(s) utilisateur(s) ? Les éléments suivants sont liés à celui-ci et seront aussi supprimés :
                h2 Objet
                ul
                    each val in resutls
                        li
                            | Utilisateur :
                            a(href='/admin/users/update?id=' + val.user._id)= "  "+val.user.firstName + " " + val.user.lastName
                            if val.content.length >0
                                ul
                                    each event in val.content
                                        li= event.title + "   start  " + event.start + "  to  " + event.end
                            else
                                ul
                                    li Pas d'évènement pour cet utilisateur.
                form(method="post" action="/admin/users/deletemanage")
                    input(type='hidden' value= id name="id")
                    div
                        input(type="hidden" name="post" value="yes")
                        input(type="submit" value="Oui, je suis sûr")
                        a.button.cancel-link(href="#") Non, revenir à la page précédente
                br.clear
        #footer
        script(type="text/javascript" src="/javascripts/dj.js")
        script(type="text/javascript" src="/javascripts/core.js")
        script(type="text/javascript" src="/javascripts/jquery.js")
        script(type="text/javascript" src="/javascripts/jquery.init.js")
        script(type="text/javascript" src="/javascripts/RelatedObjectLookups.js")
        script(type="text/javascript" src="/javascripts/actions.js")
        script(type="text/javascript" src="/javascripts/urlify.js")
        script(type="text/javascript" src="/javascripts/prepopulate.js")
        script(type="text/javascript" src="/javascripts/xregexp.js")
        script(type="text/javascript" src="/javascripts/cancel.js")