extends layout
block stylecss
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css' integrity='sha256-JDBcnYeV19J14isGd3EtnsCQK05d8PczJ5+fvEvBJvI=' crossorigin='anonymous')
    link(href='/fullcalendar/dist/fullcalendar.css' rel='stylesheet')
    link(href='/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print')
    link(href='/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css' rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/mystyle.css')
block content
    nav.navbar.navbar-fixed-top.bg-light.navbar-expand-lg
        .container
            .navbar-header
                a#menubt(href='#')
                    span.icon-bar.fas.fa-bars
                .navbar-brand
                    span.c.fas.fa-font
                    span.fas.fa-font
                    span.l.fas.fa-font
                    span.e.fas.fa-font
                    span.n.fas.fa-font
                    span.d.fas.fa-font
                    span.fas.fa-font
                    span.r.fas.fa-font
                    span.d.fas.fa-font
            #navb.navbar-collapse.collapse
                ul.nav.navbar-nav.mr-auto
                    li#mytoday.nav-item.mx-2.btn.btn-light
                    li.nav-item.mx-1.btn-group
                        button#myprev.btn.btn-light.btn-sm(type='button')
                            span.fa.fa-chevron-left
                        button#mynext.btn.btn-light.btn-sm(type='button')
                            span.fa.fa-chevron-right
                    li#mytitle.nav-item.mx-2.btn.btn-light.disabled
                form.form-inline.my-2.my-lg-0(action='' method='post')
                    input.form-control.mr-sm-2(placeholder='Search' type='text')
                    button.btn.btn-success.my-2.my-sm-0(type='button')
                        span.fa.fa-search
                    select.form-control.mx-sm-2(name='view')

            .profilmenu.dropdown
                svg#navbardrop(height='50' width='50' data-toggle='dropdown')
                    circle(cx='25' cy='25' r='20' stroke= rColor stroke-width='0.5' fill= rColor)
                    text( x='15' y='30' fill="red")= rText
                .dropdown-menu
                    h4.text-info= name


    .container-fluid.ajust
        .row.content
            .col-sm-2
                #datepicker
                .nav.flex-column
                    .nav-item.border-top.mt-3
                        span.font-weight-bold Liste des Utilisateurs
                        select#userList.form-control
                            option --All--
                            option 2
                    .nav-item.mt-3
                        span.font-weight-bold Liste des groupes
                        select#groupList.form-control
                            option --All--
                            option 2
                    .nav-item.mt-3
                        span.font-weight-bold Evenements depuis un URL
                        input#urlAdd.form-control.clearable(type="url" name='urlA' placeholder="Url")
                        a.btn(href='#')
                            span.fas.fa-plus
                            

            .col-sm-10
                #fullcalendar
    //Popover
    button#myPopover.invisible

    //- The Modal
    #myModal.modal.fade
        .modal-dialog
            .modal-content
                //- Modal Header -->
                .modal-header
                    h4.modal-title
                    button.close(type='button' data-dismiss='modal') ×
                //- Modal body
                .modal-body
                    form(enctype='multipart/form-data')
                        input#eId(type="hidden" name='eId')
                        .form-group.row
                            label.col-sm-2.col-form-label(for='eTitle') Title
                            .col-sm-9
                                input#eTitle.form-control.clearable(type="text" name='title' placeholder="title" value='' aria-describedby='etitleHelp' required)
                                small#etitleHelp.text-muted Required
                                .invalid-feedback
                                    | Please Insert a title for the event
                        .form-group.row
                            label.col-sm-2.col-form-label(for='eStart') Start
                            .col-sm-9
                                input#eStart.form-control(type="text" name='start' value='' readonly)
                        .form-group.row
                            label.col-sm-2.col-form-label(for='eEnd') End
                            .col-sm-9
                                input#eEnd.form-control(type="text" name='end' value='' readonly)
                        .form-group.row
                            label.col-sm-2.col-form-label(for='eUrl') Url
                            .col-sm-9
                                input#eUrl.form-control.clearable(type="url" name='url' placeholder="Url" aria-describedby='eUrlHelp')
                                small#eUrlHelp.text-muted Optionnal
                                .invalid-feedback
                                    | Please Insert an url valide
                        .form-group.row
                            label.col-sm-2.col-form-label(for='eColor') Color
                            .col-sm-2
                                input#eColor.form-control(type="color" name='color' value='#3a87ad' aria-describedby='eColorHelp')
                                small#eColorHelp.text-muted Optionnal
                        .form-group.row
                            label.col-sm-2.col-form-label(for='eTextColor') TextColor
                            .col-sm-2
                                input#eTextColor.form-control(type="color" name='textColor' value='#ffffff' aria-describedby='eTextColorHelp')
                                small#eTextColorHelp.text-muted Optionnal
                //- Modal footer
                .modal-footer
                    button.btn.btn-danger.btn-sm( type="button" name='remove')
                    button.btn.btn-success.btn-sm( type="button" name='update')
    #myDelete.modal.fade
        .modal-dialog.modal-dialog-centered
            .modal-content
                //- Modal Header -->
                .modal-header
                    h4.modal-title
                    button.close(type='button' data-dismiss='modal') ×
                //- Modal body
                .modal-body Are you sure to delete this Event ?
                //- Modal footer
                .modal-footer
                    .container
                        .clearfix
                            button.btn.btn-danger.btn-sm.float-left( type="button" name='btYes') Yes
                            button.btn.btn-info.btn-sm.float-right( type="button" name='btNo' data-dismiss="modal") No

    #confg.modal.left.fade.in(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
        .modal-dialog(role="document")
            .modal-content
                //- Modal Header -->
                .modal-header
                    h4#myModalLabel.modal-title
                        span.c.fa.fa-font
                        span.fa.fa-font
                        span.l.fa.fa-font
                        span.e.fa.fa-font
                        span.n.fa.fa-font
                        span.d.fa.fa-font
                        span.fa.fa-font
                        span.r.fa.fa-font
                        span.d.fa.fa-font

                //- Modal body
                .modal-body
                    .nav.flex-column
                        .nav-item
                            a.nav-link(href='/signup' class= (status==='INVITE')? 'disabled': '' ) My account
                        .nav-item
                            a.nav-link.disabled(href='#') Group
                        .nav-item
                            a.nav-link.disabled(href='#') Share
                        .nav-item
                            a.nav-link.disabled(href='#') Premium
                        .nav-item
                            a.nav-link(href='/admin' class= (status!=='ADMIN')? 'disabled': '') Administration

                //- Modal footer
                .modal-footer
                    span.fas.fa-sign-out-alt
                    a.btn(href='/logout') Deconnexion

block codes
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js' integrity='sha256-tW5LzEC7QjhG0CiAvxlseMTs2qJS7u3DRPauDjFJ3zo=' crossorigin='anonymous')
    script(src='/moment/moment.js')
    script(src='/fullcalendar/dist/fullcalendar.js')
    script(src='/fullcalendar/dist/gcal.js')
    script(src='/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js')
    script(src='/fullcalendar/dist/locale-all.js')
    script(src='/javascripts/locales-boostrap_picker.js')
    script(src='/javascripts/home.js')