extends layout

block stylecss
  link(rel='stylesheet', href='/stylesheets/style_log.css')
block content
  .container
    .card.card-container
      h3
        span#c.fa.fa-font
        span.fa.fa-font
        span#l.fa.fa-font
        span#e.fa.fa-font
        span#n.fa.fa-font
        span.d.fa.fa-font
        span.fa.fa-font
        span#r.fa.fa-font
        span.d.fa.fa-font
      //- small.profile-name-card#profile-name Login
      img.profile-img-card(src='/images/Calendar.ico')
      - if (errors)
          .alert.alert-danger Wrong login or password
      form.form-signin(action='/login', method='post')
        span.reauth-email#reauth-email 
        input.form-control#inputEmail(type='email' name='email' placeholder='Email address' value= email required autofocus)
        input.form-control#inputPassword(type='password' name='password' value= password placeholder='Password' required)
        .checkbox#remember
          label
            input(type='checkbox' value='remember-me')
            |   Remember me
        button(class='btn btn-lg btn-primary btn-block btn-signin' type='submit') Sign in
        a(href='#')  Forgotten password
        a.sign-up(href='/signup') Sign up