doctype html
html
    head
        meta(charset='utf-8' name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Administration du site | Gestion tâche
        link(rel="stylesheet" type="text/css" href="/stylesheets/base.css" )
        link(rel="stylesheet" type="text/css" href="/stylesheets/forms.css")


    body(class="change-form" data-admin-utc-offset="3600")
        #container
            #header
                #branding
                    h1#site-name
                        a(href='/admin') Calendar Administration
                #user-tools
                    | Bienvenue,
                    strong admin
                    a(href='/') Voir le site
                    a(href='/signup') Modifier le mot de passe
                    a(href='/logout') Déconnexion
            div.breadcrumbs
                a(href='/admin')  Accueil
                | &rsaquo;
                a(href="/admin/users") Utilisateur
                | &rsaquo; Administration
            #content.colMS
                h1= actionTitle
                #content-main
                    form(method='post' action='/admin/users/'+action)
                        if action==='update'
                            input(type='hidden' name='id' value= val.id)
                        if errors.length > 0
                            ul.errors
                                each error in errors
                                    li.text-danger= error
                        div
                            fieldset.module.aligned
                                h2 Identification
                                div.form-row.field-label
                                    div
                                        label.required Nom
                                        if action==='update'
                                            input.vTextField(readonly type='text' name='firstName' maxlength="100" value= val.firstName placeholder='First name' required )
                                        else
                                            input.vTextField(type='text' name='firstName' maxlength="100" value= val.firstName placeholder='First name' required )
                                div.form-row.field-label
                                    div
                                        label.required Prénom
                                        if action==='update'
                                            input.vTextField(readonly type='text' name='lastName' maxlength="100" value= val.lastName placeholder='Last name' required )
                                        else
                                            input.vTextField(type='text' name='lastName' maxlength="100" value= val.lastName placeholder='Last name' required )
                            fieldset.module.aligned
                                h2 Information sur l'utilisateur
                                div.form-row.field-label
                                    div
                                        label.required Email
                                        if action==='update'
                                            input.vTextField(readonly type='email' name='email' maxlength="100" value= val.email placeholder='Email' required )
                                        else
                                            input.vTextField(type='email' name='email' maxlength="100" value= val.email placeholder='Email' required )
                                div.form-row.field-label
                                    div
                                        label.required Status
                                        select(name='status')
                                            option(value='AVAILABLE' selected= val.status==='AVAILABLE') AVAILABLE
                                            option(value='INVITE' selected= val.status==='INVITE') INVITE
                                            option(value='ADMIN' selected= val.status==='ADMIN') ADMIN
                                            option(value='NOT_AVAILABLE' selected= val.status==='NOT_AVAILABLE') NOT_AVAILABLE

                            if action === 'add'
                                fieldset.module.aligned
                                    h2 Mot de passe d'accès
                                    div.form-row.field-label
                                        div
                                            label.required Password
                                            input.form-control(type='password' value= val.password name='password' placeholder='Password' required)
                                    div.form-row.field-label
                                        div
                                            label.required Confirme password
                                            input.form-control(type='password' value= val.pass name='pass' placeholder='Confirm Password' required)
                            div.submit-row
                                input.default(type="submit" value="Enregistrer" name='bt')
                                if action === 'update'
                                    p.deletelink-box
                                        a.deletelink(href='/admin/users/delete?id='+val.id) Supprimer
                                input.default(type="submit" value="Enregistrer et ajouter un nouveau" name='bt')

                br.clear
        script(type="text/javascript" src="/javascripts/dj.js")
        script(type="text/javascript" src="/javascripts/core.js")
        script(type="text/javascript" src="/javascripts/jquery.js")
        script(type="text/javascript" src="/javascripts/jquery.init.js")
        script(type="text/javascript" src="/javascripts/RelatedObjectLookups.js")
        script(type="text/javascript" src="/javascripts/actions.js")
        script(type="text/javascript" src="/javascripts/urlify.js")
        script(type="text/javascript" src="/javascripts/prepopulate.js")
        script(type="text/javascript" src="/javascripts/xregexp.js")
        script(type="text/javascript" src="/javascripts/collapse.js")
        script(type="text/javascript" src="/javascripts/inlines.js")