extends layout

block stylecss
  link(rel='stylesheet', href='/stylesheets/style_log.css')
block content
  .container
    .card.card-container
      h3
        span#c.fa.fa-font
        span.fa.fa-font
        span#l.fa.fa-font
        span#e.fa.fa-font
        span#n.fa.fa-font
        span.d.fa.fa-font
        span.fa.fa-font
        span#r.fa.fa-font
        span.d.fa.fa-font
      p.profile-name-card#profile-name= actionVal
      - if (errors)
          .alert.alert-danger= errors
      form.form-signin(action='/signup', method='post')
        span.reauth-email#reauth-email 
        input.form-control(type='text' name='firstName' value= val.firstName placeholder='First name' required autofocus)
        input.form-control(type='text' name='lastName' value= val.lastName placeholder='Last name' required)
        input.form-control(type='email' name='email' value= val.email placeholder='Email address' required)
        input.form-control(type='password' value= val.password name='password' placeholder='Password' required)
        input.form-control(type='password' value= val.pass name='pass' placeholder='Confirm Password' required)
        .checkbox#remember
          label
            input(type='checkbox' value='remember-me' required)
            |   I have read and agree to
            a(href='#')  the Terms of Use.
        button(class='btn btn-lg btn-primary btn-block btn-signin' type='submit')= btVal