/***********/
/* GENERAL */
/***********/
@import url(fonts.css);

body {
	margin-top: 50px;
	padding-bottom: 60px;
	font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;	
	background-color: #e1e1e1;	
}

h1 {
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
	color: #225486;
}

div#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #135f83;
	color: white;
	padding : 8px;
	text-align: center;
	text-transform: uppercase;
}

.hide {
	display: none;
}

#identification {
	margin-top: 40px;
	margin-bottom: 40px;
}

#questionnaire {
	margin-top: 30px;
}

#actions {
	text-align: center;
}

#actions .btn {
	padding: 10px;
	text-transform: uppercase;
	font-size: 20px;
}

#mesactions .btn {
	margin: 8px;
	padding: 10px;
	font-size: 18px;
}

table {
	background-color: rgba(255,255,255,0.6);
	margin-top: 10px;
}

table th {
	background-color: #aaa;
}

div#erreurs {
	font-weight: bold;
}

/*********/
/* INDEX */
/*********/

#headerwrap {
	background: url(../images/Server-banner.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top:20px;
	background-attachment: relative;
	background-position: center center;
	min-height: 400px;
	width: 100%;
    background-size: 100%;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 100px;
	color: orange;
	font-size: 50px;
	font-weight: 300;
	letter-spacing: 3px;
	text-decoration: none;
}
#headerwrap h3{
	color: orange;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 4px;
	text-align: center;
}
#headerwrap h2 {
	color: white;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 2px;
}

.card {
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    box-shadow: 2px 3px 7px 1px rgba(119, 119, 119, 0.21);
    margin: 20px;
    background-color: rgba(255,255,255,0.4);
}

.card .card-header {
	text-align:center;
    background-color: rgba(204, 204, 204,0.6);
    padding: 5px 10px;
}

.card .card-footer {
	text-align:center;
	background-color: rgba(204, 204, 204,0.6);
    padding: 10px;
    border-top: 1px solid #9d9d9d;
}

.card ul {
	list-style: none;
	padding: 5px;
}

.list-group {
    padding-left: 0;
    margin-bottom: 0px;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.card-body h4{
	color: orange;
}
.panel{
	background-color: rgba(255,255,255,0.4);
}

