html, body {
    height: 100%;
    overflow: hidden;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

.e.fa-font:before {
    /*font-family: roboto;*/
    color: #429bf4;
    font-size: 1.2em;
    content: "E";
}

.c.fa-font:before {
    font-family: roboto;
    color: #429bf4;
    font-size: 1.2em;
    content: "C";
}

.l.fa-font:before {
    font-family: roboto;
    color: #429bf4;
    font-size: 1.2em;
    content: "L";
}

.n.fa-font:before {
    font-family: roboto;
    color: #429bf4;
    font-size: 1.2em;
    content: "N";
}

.d.fa-font:before {
    font-family: roboto;
    color: #429bf4;
    font-size: 1.2em;
    content: "D";
}

.r.fa-font:before {
    font-family: roboto;
    color: #429bf4;
    font-size: 1.2em;
    content: "R";
}

nav .container {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -200px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    width: 240px;
}

.dropdown-menu h4 {
    margin: 10px;
}

#menubt {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    padding: 3px;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    padding: 10px;
    padding-left: 42%;
    text-align: center;
    text-transform: uppercase;
}

.ajust {
    padding: 0px;
    border-top: 0.5px solid rgba(185, 179, 161, 0.5);
    height: auto;
}

.row.content {
    background-position: center center;
    min-height: 500px;
    width: 100%;
    background-size: cover;
    margin: 0px;
    padding-bottom: 50px;
}

.content .col-sm-10 {
    padding: 0px;
}

#mytitle {
    text-transform: uppercase;
    font-size: large;
    font-weight: bolder;
    color: blueviolet;
}

.colorpicker {
    z-index: 9999;
}

/* Popover style */
#myPopover {
    position: absolute;
    top: 0px;
    left: 0px;
}

/* Clear button styles
--------------------------------------------- */

.clearable {
    background: #fff url(../images/circle-o.gif) no-repeat right -10px center;
    padding: 3px 18px 3px 4px; /* Use the same right padding (18) in jQ! */
    transition: background 0.4s;
}

.clearable.x {
    background-position: right 5px center;
}

.clearable.onX {
    cursor: pointer;
}

#eColor, #eTextColor {
    padding: 0px;
}
svg {
    cursor: pointer;
}

/* Modal admin */
/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: 210px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
    left: -210px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

#confg .modal-content {
    border-radius: 0;
    border: none;
}

#confg .modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}
